.container {
  align-items: center;
  justify-content: left;
  display: flex;
}
.resposta {
  padding: 10px;
  font-size: 2opx;
  color: red;
  background-color: rgb(201, 240, 252);
}
img{
padding: 10px;
}

