@charset "UTF-8";

body {
    display:flex;
    background-color: #ecebcb;
    flex-direction: column;
}

.logo {
    font-family: 'Overpass Mono', monospace;
    font-size: 30px;
    color: #f4cb01;

}

.caixa{
    display: flex;
    background-color: #2f2e2e;
    justify-content: space-around;
    height: 55px;
    align-items: center;

}

.menu {
    display: flex;
    
}


.menu a {
    display: inline-block;
    text-transform: uppercase;
    color:#f4cb01;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px;
    transition: 0.5s;
    cursor: pointer;
}
 
.menu a:hover {
    background-color: #f4cb01;
    color: white;
}


.hide {
    display: none;

}

#divBusca{
    background-color:#2F4F4F;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
#txtBusca{
    float:right;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

.footer-div{

}